@use "../common" as *;

.labeledSwitch {
  margin: 15px auto;
  text-align: center;

  .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .switchRow {
    align-items: center;
    display: flex;
    justify-content: center;

    .sideLabel {
      font-size: 14px;

      &.active {
        font-weight: bold;
      }
    }
  }
}
