@use "../common" as *;

$rightPanelContainerWidth: 159px;
$rightPanelWidth: 157px;
$rightPanelInnerWidth: 151px;

.rightPanelContainer {
  overflow-x: hidden;
  width: $rightPanelContainerWidth + $tabWidth;
  height: calc(100% - #{$bottomBarHeight + $bottomBarBorderWidth + $topBarHeight + 1});
  min-height: 551px;
  position: absolute;
  z-index: 1000;
  top: $topBarHeight;
  right: 0;
  pointer-events: none;
  overflow-y: hidden;

  .rightPanel {
    position: absolute;
    right: -$rightPanelWidth;
    top: 0;
    width: $rightPanelWidth;
    bottom: 0 !important;
    transition: all 0.8s;
    border-left: 0;
    border-top: 1px solid $charcoalMedium;

    &.open {
      right: 0;
      border-left: 1px solid $charcoalMedium;
    }

    .rightPanelTabs {
      pointer-events: all;
      position: absolute;
      display: block;
      margin: 0;
      margin-right: $rightPanelWidth;
      right: 0;
      list-style-type: none;
      padding-top: $rightTabVerticalSpacing;
    }

    .tabContentBack {
      z-index: 400;
      position: absolute;
      width: $rightPanelWidth;
      bottom: 0;
      top: 0;
      right: 0;
      min-height: 618px;
      height: 100%;

      &.geoMaps {
        background-color: $tabGeoLight;
      }

      &.impactMaps {
        background-color: $tabImpactLight;
      }

      &.settings {
        background-color: $tabSettingsLight;
      }

      .tabContent {
        pointer-events: all;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: $rightPanelInnerWidth;
        min-height: 618px;
        background-color: $tabContents;
        margin-right: 0;
        margin-left: auto;
        height: 100%;

        .drawerTitle {
          width: 100%;
          height: 17px;
          margin: 10px auto;
          font-family: Lato;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $charcoal;
        }

        .divider {
          border: 0;
          border-top: 2px solid $secondaryColor;
          margin: 15px 10px;
        }
      }
    }
  }
}
