.app {
  height: 100%;
  min-width: 831px;
  min-height: 618px;
  font-family: Lato, 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 13px;

  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    color: #ffb60f;
  }
}
