@import "common.scss";

.authoring {
  form {
    padding: 2rem 0 0 1rem;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    text-align: left;
    background-color: #fff;
    display: block;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.1px;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0 0 0 1em;
    border: 0;
  }

  legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 1rem 0.5rem -0.6rem;
    font-size: 1.2rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    border-bottom: 1px solid #e5e5e5;
  }
  div {
    font-size: 12px;
  }
  select {
    text-transform: none;
  }
  input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  input[type=text] {
    width: 4rem;
  }
  input[type=radio], input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    margin-right: 0.5rem;
  }
  label {
    display: inline-block;
  }

  button {
    -webkit-appearance: button;
    overflow: visible;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-transform: none;
  }

  div.form-group {
    margin: 20px;
    width: 100%;
  }

  button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
