@import "common.scss";

$overflowHeight: 14px;
$borderWidth: 1px;
$borderStyle: $borderWidth solid #797979;

// Covers part of the border, just below the rounded corner.
%borderCover {
  content: '';
  display: block;
  position: absolute;
  height: $bottomBarHeight;
  width: $borderWidth;
  bottom: $borderWidth;
  background: #fff;
}

.bottomBar {
  display: flex;
  justify-content: center;
  border-top: $borderStyle;

  // Base styles that ensure that given container sticks out from the bottom bar, has a nice, round corners and its border
  // matches rest of the bottom bar correctly.
  .widgetGroup {
    height: $bottomBarHeight + $overflowHeight;
    margin-top: -$overflowHeight;
    z-index: 1000;
    background: #fff;
    border-radius: 0;
    border-top: $borderStyle;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    // Left border is necessary so the rounded corner looks good (otherwise, border would end in the middle of curve).
    border-left: $borderStyle;
    // However, it needs to be mostly covered.
    &:before {
      @extend %borderCover;
      left: -$borderWidth;
    }
    // Right border is necessary so the rounded corner looks good (otherwise, border would end in the middle of curve).
    border-right: $borderStyle;
    // However, it needs to be mostly covered.
    &:after {
      @extend %borderCover;
      right: -$borderWidth;
    }
    margin-left: 5px;
    margin-right: 5px;
  }

  .seasonSelect {
    position: absolute;
    left: 30px;
    padding-top: 3px;
  }

  .label {
    color: #666;
    margin-right: 10px;
  }

  .tallButton {
    width: 60px;
    height: 100%;
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
    }
    &:hover {
      background: #f2f2f2;
    }
    svg {
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 auto;
      path {
        fill: #666666;
      }
    }
  }
}
