@import "common.scss";

$overflowHeight: 14px;

// Covers part of the border, just below the rounded corner.
%borderCover {
  content: '';
  display: block;
  position: absolute;
  height: $bottomBarHeight;
  width: $bottomBarBorderWidth;
  bottom: $bottomBarBorderWidth;
  background: #fff;
}

.bottomBar {
  display: flex;
  justify-content: center;
  border-top: $bottomBarBorderStyle;
  position: relative;

  // Base styles that ensure that given container sticks out from the bottom bar, has a nice, round corners and its border
  // matches rest of the bottom bar correctly.
  .widgetGroup {
    height: $bottomBarHeight + $overflowHeight;
    margin-top: -$overflowHeight;
    z-index: 1000;
    background: #fff;
    border-radius: 0;
    border-top: $bottomBarBorderStyle;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    // Left border is necessary so the rounded corner looks good (otherwise, border would end in the middle of curve).
    border-left: $bottomBarBorderStyle;
    // However, it needs to be mostly covered.
    &:before {
      @extend %borderCover;
      left: -$bottomBarBorderWidth;
    }
    // Right border is necessary so the rounded corner looks good (otherwise, border would end in the middle of curve).
    border-right: $bottomBarBorderStyle;
    // However, it needs to be mostly covered.
    &:after {
      @extend %borderCover;
      right: -$bottomBarBorderWidth;
    }
    margin-left: 5px;
    margin-right: 5px;
  }

  .logo {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 40px;
  }
}
