$bottomBarHeight: 64px;
$bottomBarBorderWidth: 1px;
$bottomBarBorderStyle: $bottomBarBorderWidth solid #797979;

$cat0Color: #bbbbbb;
$cat1Color: #ffd396;
$cat2Color: #ffb87a;
$cat3Color: #ff874a;
$cat4Color: #f63a22;
$cat5Color: #ff0000;
