@use "common" as *;

.dialogBody {
  margin: 1em;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background: none;
  border: none;
  color: $charcoalMedium;
  cursor: pointer;
  display: inline-flex;
  &:hover {
    color: $charcoal;
  }
  &:focus-visible {
    outline: 2px solid $charcoal;
    outline-offset: 2px;
  }
}

.content {
  color: $charcoal;
  margin-top: 1em;
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
