@import "common.scss";

.segment {
  cursor: inherit !important;

  &.segmentCategory0 {
    stroke: $cat0Color;
  }

  &.segmentCategory1 {
    stroke: $cat1Color;
  }

  &.segmentCategory2 {
    stroke: $cat2Color;
  }

  &.segmentCategory3 {
    stroke: $cat3Color;
  }

  &.segmentCategory4 {
    stroke: $cat4Color;
  }

  &.segmentCategory5 {
    stroke: $cat5Color;
  }
}

.hurricaneTrackBorder {
  stroke: #333333;
}
