@import "common.scss";

.hurricaneIcon {
  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  cursor: default;
  font-family: $scaleFont;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;

  .svgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    animation: rotation 5.5s infinite linear;

    svg {
      width: 124px;
      height: 92px;
      margin-left: -62px;
      margin-top: -46px;
    }

    img {
      width: 200px;
      height: 200px;
      margin-left: -100px;
      margin-top: -100px;
    }
  }

  .temp {
    color: white;
    font-size: 12px;
    line-height: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 30px;
    margin-left: -40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 1px 5px #000;
  }
}

.category0 {
  // This is based on the structure of the hurricane.svg and category-marker.svg files. Note that they're optimized
  // by SVGR loader, so we cannot use class names. If we disable SVGR optimization, these global class names will
  // clash with eaach other, so it's not  an option.
  svg path:first-of-type, circle {
    fill: $cat0Color;
  }
  .svgContainer {
    animation-duration: 5.5s;
  }
}

.category1 {
  svg path:first-of-type, circle {
    fill: $cat1Color;
  }
  .svgContainer {
    animation-duration: 4s;
  }
}

.category2 {
  svg path:first-of-type, circle {
    fill: $cat2Color;
  }
  .svgContainer {
    animation-duration: 2.75s;
  }
}

.category3 {
  svg path:first-of-type, circle {
    fill: $cat3Color;
  }
  .svgContainer {
    animation-duration: 1.75s;
  }
}

.category4 {
  svg path:first-of-type, circle {
    fill: $cat4Color;
  }
  .svgContainer {
    animation-duration: 1s;
  }
}

.category5 {
  svg path:first-of-type, circle {
    fill: $cat5Color;
  }
  .svgContainer {
    animation-duration: 0.5s;
  }
}
