@import "common";

.hurricaneImageToggle {
  margin-top: $bottomBarTopPadding;
  width: 67px;

  .label {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }

  .toggleContainer {
    text-align: center;
  }
}

