@import "common.scss";

.hurricaneIcon {
  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  cursor: default;
  font-family: $scaleFont;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;

  .svgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    animation: rotation 5.5s infinite linear;

    svg {
      width: 45px;
      height: 72px;
      margin-left: -22.5px;
      margin-top: -36px;
    }

    img {
      width: 200px;
      height: 200px;
      margin-left: -100px;
      margin-top: -100px;
    }
  }


  .categoryNumber {
    font-weight: bold;
    color: #434343;
    font-size: 16px;
    text-shadow: 1px  1px 0 #fff,
                -1px -1px 0 #fff,
                 1px -1px 0 #fff,
                -1px  1px 0 #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .temp {
    color: white;
    font-size: 12px;
    line-height: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 30px;
    margin-left: -40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
  }

  &.category0 {
    svg path, circle {
      fill: $cat0Color;
    }
    .svgContainer {
      animation-duration: 5.5s;
    }
  }
  &.category1 {
    svg path, circle {
      fill: $cat1Color;
    }
    .svgContainer {
      animation-duration: 4s;
    }
  }
  &.category2 {
    svg path, circle {
      fill: $cat2Color;
    }
    .svgContainer {
      animation-duration: 2.75s;
    }
  }
  &.category3 {
    svg path, circle {
      fill: $cat3Color;
    }
    .svgContainer {
      animation-duration: 1.75s;
    }
  }
  &.category4 {
    svg path, circle {
      fill: $cat4Color;
    }
    .svgContainer {
      animation-duration: 1s;
    }
  }
  &.category5 {
    svg path, circle {
      fill: $cat5Color;
    }
    .svgContainer {
      animation-duration: 0.5s;
    }
  }
}
