@import "common";

.mapButton {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 121px;
  height: 67px;
  border-radius: 10px;
  border: solid 2px $tabContents !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px !important;

    &.geoMaps {
      border: solid 2px $tabGeo !important;
    }
    &.impactMaps {
      border: solid 2px $tabImpact !important;
    }

  .mapLabel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 117px;
    height: 22px;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: $tabContents;

    &.geoMaps {
      background-color: $tabGeoTransparent;
      &.active {
        background-color: $tabGeo;
      }
    }
    &.impactMaps {
      background-color: $tabImpactTransparent;
      &.active {
        background-color: $tabImpact;
      }
    }
  }
}