@import "common.scss";

.mapView {
  width: 100%;
  height: calc(100% - #{$bottomBarHeight + $bottomBarBorderWidth + $topBarHeight + 1});

  .highPressure, .lowPressure {
    color: white;
    font-size: 40px;
    margin-left: -15px !important;
    margin-top: -30px !important;
    font-weight: bold;
    text-shadow: 1px 1px 10px #999;
  }

  .highPressure {
    color: #19c0ea;
  }

  .lowPressure {
    color: #ff2525;
  }

  .hurricane {
    @keyframes rotation {
      from {
        transform: rotate(359deg);
      }
      to {
        transform: rotate(0deg);
      }
    }

    .hurricaneContainer {
      transform-origin: top left;
      animation: rotation 4s infinite linear;
    }

    svg {
      transform: scale3d(0.25, 0.25, 1);
      transform-origin: top left;
      margin-left: -25px;
      margin-top: -25px;
      path {
        fill: white;
      }
    }
  }

  .resetViewBtn {
    cursor: pointer;
    svg {
      margin-top: 3px;
    }
  }

  .mapButtonLabel {
    color: #fff;
    font-size: 12px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    font-family: $scaleFont;
    line-height: 12px;
    width: 50px;
    margin-left: -9px;
    margin-top: -3px;
  }

  :global(.leaflet-touch .leaflet-bar a:first-child) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  :global(.leaflet-touch .leaflet-bar a:last-child) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  :global(.leaflet-top.leaflet-left) {
    display: flex;
    flex-direction: column;
  }

  :global(.leaflet-control-attribution) {
    background: rgba(255, 255, 255, 0.35) !important;
    height: 13px;
    font-family: $scaleFont;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: $controlLabel;
    transition: 0.1s;
  }
  :global(.leaflet-control-attribution:hover) {
    background: rgba(255, 255, 255, 0.7) !important;
  }

  .resetViewContainer {
    order: 1;
  }

  .fullMapViewContainer {
    order: 2;
  }
}
