.highPressure, .lowPressure {
  color: white;
  font-size: 40px;
  margin-left: -15px !important;
  margin-top: -30px !important;
  font-weight: bold;
  text-shadow: 1px 1px 10px #999;
}

.highPressure {
  color: #19c0ea;
}

.lowPressure {
  color: #ff2525;
}

.hurricane {
  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .hurricaneContainer {
    transform-origin: top left;
    animation: rotation 4s infinite linear;
  }

  svg {
    transform: scale3d(0.5, 0.5, 1);
    transform-origin: top left;
    margin-left: -50px;
    margin-top: -50px;
    path {
      fill: white;
    }
  }
}
