@import "common";

.opacitySlider {
  margin-top: $bottomBarTopPadding;
  width: 174px;

  .sliderContainer, .label {
    display: inline-block;
    vertical-align: middle;
  }

  .label {
    width: 50%;
    font-size: 12px;
    text-align: right;
    margin-left: 5px;
  }

  .sliderContainer {
    text-align: center;
    width: 36%;
    margin-left: 7%;
    position: relative;

    .slider {
      width: 70%;
      margin: 0 auto;
    }

    .hideLabel, .showLabel {
      font-size: 9px;
      position: absolute;
      top: 10px;
    }

    .hideLabel {
      left: 0;
    }

    .showLabel {
      right: 0;
    }
  }
}

:global(.hoverable):hover .thumb {
  box-shadow: 0 0 0 4px rgba(255,255,255,0.25);
}
:global(.hoverable):hover .thumb:hover {
  box-shadow: 0 0 0 4px rgba(255,255,255,0.85);
}
