@import "common";

.playbackButton {
  min-width: 60px;
  height: 100%;
  color: #434343;
  font-weight: bold;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  &:hover svg {
    box-shadow: 0 0 0 4px rgba(255,255,255,0.5);
  }
  &:active svg {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
  }

  &:first-child {
    border-top-left-radius: 10px;
  }
  &:last-child {
    border-top-right-radius: 10px;
  }
  svg {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: $bottomBarTopPadding auto 0 auto;
    path {
      fill: #797979;
    }
  }
}
