@import "common";

.pressureSystemIcon {
  display: inline-block;
  color: white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  text-align: center;
  margin-left: -60px !important;
  margin-top: -60px !important;
  outline: none;
  transition: background-color 350ms;
  &.disabled {
    cursor: default;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
    &.disabled {
      cursor: default;
      background-color: rgba(255, 255, 255, 0.0);
    }
    .dragIcon {
      visibility: visible;
      &.disabled {
        visibility: hidden;
      }
    }
  }

  .dragIcon {
    visibility: hidden;
    margin-top: 8px;
    svg {
      height: 12px;
      circle {
        fill: #fff;
      }
    }
  }

  .letter {
    height: 50px;
    margin-top: 8px;
    vertical-align: middle;
    transform-origin: center center;
  }

  .label {
    margin-top: 5px;
    color: white;
    font-family: $scaleFont;
    font-size: 14px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  }

  .sliderContainer {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
    vertical-align: middle;

    .thumb {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
      &:hover, &:active {
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5)
      }
    }

    .track {
      background-color: #fff;
    }
  }
}

