@use "common" as *;

.letter {
  height: 72px;
  margin: -3px -10px -10px -8px; // new asset has padding
  vertical-align: middle;
  transform-origin: center center;
}

.sliderContainer {
  display: inline-block;
  margin-left: 8px;
  margin-top: 10px;
  height: 45px;
  vertical-align: middle;

  .disabled {
    opacity: 0.25;
  }

  .thumb {
    width: 20px;
    height: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    &:hover, &:active {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5)
    }
  }

  .track, .rail {
    width: 3px;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
  }
}
