@import "common";

.rightPanelContainer {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .rightPanel {
    position: absolute;
    right: -$rightPanelWidth;
    top: 0;
    width: $rightPanelWidth;
    bottom: $bottomBarHeight !important;
    z-index: 400;
    transition: all 1s;
    &.open {
      right: 0;
    }
    .rightPanelTabs{
      position: absolute;
      display: inline-block;
      margin-right: $rightPanelWidth;
      right: 0;
      list-style-type: none;
    }
    .rightPanelTab {
      margin-top: $mapTabVerticalSpacing;
    }

    .tabContentBack{
      position: relative;
      width: $rightPanelWidth;
      bottom: 0;
      top: 0;
      right: 0;
      min-height: 618px;
      height: 100%;

      &.geoMaps {
        background-color: $tabGeoLight;
      }
      &.impactMaps {
        background-color: $tabImpactLight;
      }

      .tabContent{
        position: relative;
        bottom: 0;
        top: 0;
        right: 0;
        width: $rightPanelInnerWidth;
        min-height: 618px;
        background-color: $tabContents;
        margin-right: 0;
        margin-left: auto;
        height: 100%;
      }
    }
  }
}
