@import "common.scss";

.seasonButton {
  width: 92px;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  .seasonValue {
    color: #fff;
    font-size: 12px;
    width: 76px;
    height: 42px;
    background: #FF8F20;
    border-radius: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $bottomBarBorderStyle;
    margin-top: $bottomBarTopPadding;

    &:hover {
      box-shadow: 0 0 0 3px rgba(255,255,255,0.5)
    }
    &:active {
      box-shadow: 0 0 0 3px rgba(255,255,255,1)
    }
  }

  .seasonLabel {
    font-size: 12px;
    margin-bottom: 8px;
  }
}
