@import "common.scss";

.seasonButton {
  margin-top: $bottomBarTopPadding;
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.disabled{
    opacity: 0.5 !important;
  }

  .seasonLabel {
    font-size: 12px;
    text-align: center;
  }

  .selectContainer {
    margin-top: 8px;
    width: 82px;
    height: 26px;
    border-radius: 8px;
    background: rgba(255,255,255,0);
    &:hover {
      background: rgba(255,255,255,0.5);
    }

    .seasonSelect {
      left: 3px;
      top: 3px;
      width: 76px;
      height: 20px;
      font-size: 11px;
      border: 1px solid black;
      border-radius: 5px;
      background: white;

      &:hover {
        background: $hoverColor;
      }
    }
  }
}

.seasonItem {
  padding: 0 8px !important;
  width: 74px !important;
  font-size: 11px !important;
  display: flex;
  justify-content: space-between !important;
}

:global(.MuiSelect-select:focus) {
  background: none !important;
}
