$background: rgba(255, 255, 255, 0.85);

.temperatureContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.temperatureReadout {
  font-size: 14px;
  font-family: Lato, 'Roboto Condensed', Helvetica, Arial, sans-serif;
  width: 60px;
  height: 25px;
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.arrowUp {
  margin-top: -31px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $background;
}
