@import "common";

$temperatureScaleWidth: 308px;
$innerEdgePadding: 12px;

.temperatureContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - #{$bottomBarHeight + $bottomBarBorderWidth + 1});

  .temperatureScale {
    position: absolute;
    top: 300px;
    left: 200px;
    width: $temperatureScaleWidth;
    height: 28px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    border: solid 1px $controlIconLine;
    background-color: white;
    z-index: 500;
    transition: height, 0.3s;
    &.expanded {
      height: 94px;
    }

    .header {
      top: 7px;
      text-align: center;
      font-family: Lato;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $controlLabel;
      padding: 7px;
      .dragIcon{
        cursor: grab;
        float: left;
        width: 12px;
        svg {
          height: 12px;
          circle {
            fill: $controlLabel;
          }
        }
      }
      .minMax {
        float: right;
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 5px;
        background-color: $minMaxKeyBackground;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        &.expanded {
          justify-content: flex-end;
        }
        .minMaxIcon {
          width: 10px;
          height: 1px;
          margin: 3px;
          background-color: $controlIconLine;

        }
      }
    }
    $barSegmentWidth: ($temperatureScaleWidth - $innerEdgePadding - $innerEdgePadding) / 9;
    .scaleContainer {
      font-family: $scaleFont;
      padding: 7px;

      .scaleGradient {
        height: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0;
        width: calc(#{$barSegmentWidth * 7});
        margin-left: 15px;
        border: $bottomBarBorderStyle;
      }
    }

    .subheaders {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
      margin-top: 5px;

      .temperatureFLabel, .temperatureCLabel {
        font-size: 11px;
        width: 52px;
        text-align: center;
        color: $controlLabel;
      }
    }

    .temperatureContainer {
      display: inline-block;
      width: $barSegmentWidth;
      vertical-align: top;
      margin-top: 5px;
      text-align: center;

      .temperatureValue {
        color: $controlLabel;
      }
      .temperatureRange {
        color: $controlLabel;
      }
      .dot {
        line-height: 2px;
        margin-bottom: 6px;
      }
    }
  }
}