@use "common" as *;

.windArrowsToggle {
  margin-top: $bottomBarTopPadding;
  width: 95px;

  .label {
    font-size: 12px;
    text-align: center;
  }

  .toggleContainer {
    text-align: center;
  }
}

