@use "../common.scss" as *;

.buttonArea {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .seasonButton {
    border: 1px solid $controlIconLine;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;

    &:hover {
      background-color: $secondaryColorHover;
    }

    &.selected {
      background-color: $secondaryColor;
    }
  }
}