@use "../common.scss" as *;

.buttonArea {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .seasonButton {
    border: 2px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;

    &:hover {
      background-color: white;
      border-color: #666;
    }

    &.selected {
      background-color: $secondaryColor;
      border-color: #dd8800;
    }
  }
}