@use "../common" as *;
@use "./left-panel-common" as *;

.sectionHeader.sectionHeader {
  background-color: white;
  border-bottom: $leftPanelBorder;
  color: $fontColor;
  height: 40px;

  &:hover {
    background-color: #dfdfdf;
  }

  &.openSectionHeader {
    background-color: #f0f0f0;
    border-bottom: none;
  }

  .sectionTitle.sectionTitle {
    font-size: 12px;
    font-weight: bold;
  }

  .dropdownArrow {
    margin-right: -12px;
    transform: rotate(-90deg);
    transition: transform 0.1s;

    &.open {
      transform: rotate(0deg);
    }
  }
}

.sectionContainer {
  border-bottom: $leftPanelBorder;
}

.section {
  background-color: #fafafa;
  border-bottom: $leftPanelBorder;
  padding: 8px 16px 12px;

  .hint, .postscript {
    line-height: normal;
  }

  .hint {
    margin-bottom: 11px;
  }

  .postscript {
    font-size: 10.5px;
    margin-top: 11px;
  }

  .tip {
    background-color: #f4f8e9;
    padding: 8px;

    .bold {
      font-weight: 900;
    }
  }
}
