@use "../common" as *;

.coordinates {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;

  .coordinate {
    align-items: center;
    display: flex;
    gap: 7px;

    .label {
      font-family: $scaleFont;
      font-size: 13px;
      font-weight: bold;
    }

    .input {
      font-family: $scaleFont;
      font-size: 13px;
      padding: 4px 6px;
      border: 1px solid #797979;
      border-radius: 4px;
      width: 64px;
      box-sizing: border-box;
    }
  }
}
